body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: radial-gradient(#626cf3, #141847);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
